@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 2050px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-family: "DM Sans", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 45px 40px;
}

header h2 {
  font-size: 30px;
  font-weight: 400;
  color: #901c1c;
  margin: 0;
}

header.photographer-page {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 1050px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 35px 20px;
  }
  header h2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (max-width: 1050px) and (max-width: 550px) {
  header h2 {
    font-size: 14px;
  }
  header .logo {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

.logo {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.nav li {
  padding: 3px 6px;
  margin: 3px;
  font-size: 12px;
  line-height: 16px;
  border: 0.5px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  text-align: center;
  color: #911c1c;
  cursor: pointer;
}

.nav li.active {
  background-color: #911c1c;
  color: white;
}

main .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card {
  margin: 15px 0px 0px 0px;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

main .card__image {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .card__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h1 {
  padding: 0;
  margin: 0;
  font-size: 36px;
  color: #d3573c;
}

main p {
  padding: 0;
  margin: 0;
}

main p:nth-child(2) {
  color: #901c1c;
  font-size: 13px;
}

main p:nth-child(3) {
  font-size: 10px;
}

main p:nth-child(4) {
  color: #525252;
  font-size: 9px;
}

main .tag ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 6px 0px;
}

main .tag li {
  padding: 3px 6px;
  margin: 3px;
  font-size: 12px;
  line-height: 16px;
  border: 0.5px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  text-align: center;
  color: #911c1c;
}

main .tagProfil {
  text-align: start;
}

main .tagProfil ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 6px 0px;
}

main .tagProfil li {
  padding: 3px 6px;
  margin: 3px;
  font-size: 12px;
  line-height: 16px;
  border: 0.5px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  text-align: center;
  color: #911c1c;
}

@media screen and (min-width: 1050px) {
  main .artists {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
  }
}

button {
  background-color: #901c1c;
}

.button {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #901c1c;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
}

.modal {
  position: absolute;
  width: 100%;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 500px;
  background-color: #d3573c;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  text-align: left;
}

.modal h1 {
  color: black;
  font-size: 30px;
  font-weight: 400;
}

.modal label {
  font-weight: 400;
  font-size: 20px;
}

.modal input {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 35px;
}

.modal .message-container input {
  height: 120px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 0.7rem;
  right: 1.3rem;
  font-size: 4rem;
  color: white;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.scrollProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  z-index: 5;
  width: 20rem;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  position: fixed;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  bottom: 0%;
  right: 3%;
  background-color: #d3573c;
  border-radius: 5px;
}

#scrollPrice {
  margin-left: 2rem;
}

#scrollPrice:hover,
#scrollPrice:focus {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0 0 3px 2px #f2f2f2;
          box-shadow: 0 0 3px 2px #f2f2f2;
}

.scroll {
  position: fixed;
  display: none;
  background-color: #db8876;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  top: 2%;
  left: 45%;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#mainFiche {
  margin-bottom: 5rem;
}

.profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0rem 5rem 3rem 5rem;
  background-color: rgba(243, 244, 246, 0.5);
  padding: 2rem;
  border-radius: 5px;
}

.open-modal {
  height: 4rem;
  border: none;
  margin-top: 1.8rem;
  margin-right: 10rem;
  padding: 1.5rem 1rem;
  line-height: 0.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: #901c1c;
  border-radius: 5px;
}

.open-modal:hover {
  background-color: #d3573c;
  color: black;
  cursor: pointer;
}

.contactButton:hover,
.contactButton:focus {
  background-color: #db8876;
  color: black;
}

.textProfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#photoProfil {
  margin: 1rem 0 0 -2.2rem;
}

#photoProfil img {
  width: 14rem;
  height: 14rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 14rem;
}

#nameProfil {
  font-size: 4rem;
  color: #d3573c;
  margin: 1rem 0;
}

#locationProfil p {
  color: #901c1c;
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

#taglineProfil {
  font-size: 1rem;
}

#headerFiche {
  margin-left: 5rem;
}

.box {
  background-color: white;
  position: fixed;
  z-index: 12;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  backface-color: #ffffff;
  max-height: 98%;
}

#lightbox__previous,
#lightbox__next {
  margin-bottom: 4rem;
}

#lightbox__previous:hover,
#lightbox__next:hover {
  cursor: pointer;
}

#lightbox__next {
  margin-left: -3.5rem;
}

.lightbox__close {
  margin-left: -0.5rem;
  height: 4rem;
}

#message-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.close-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.arrow img {
  width: 4rem;
}

.lightbox__close img {
  width: 4rem;
}

.lightbox__close img:hover {
  cursor: pointer;
}

.lightbox__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 85vh;
}

.lightbox__container img {
  max-width: 100%;
  height: 85vh;
}

.infos-card h2 {
  color: #901c1c;
}

.select__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5rem;
}

.select__menu p {
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 1rem;
}

.select__menu select {
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
  background-color: #901c1c;
}

.select__menu select:hover {
  background-color: #d3573c;
  cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
  height: 4rem;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 5rem;
}

#sort-text {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 5rem;
}

.popularity-order,
.date-order,
.name-order {
  height: 4rem;
  margin-left: 5rem;
  background-color: #901c1c;
  color: white;
  font-weight: 600;
  padding: 16px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.popularity-order:focus,
.date-order:focus,
.name-order:focus {
  background-color: #d3573c;
}

.popularity-order:hover,
.date-order:hover,
.name-order:hover {
  background-color: #d3573c;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #d3573c;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  float: left;
  position: absolute;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  width: 100%;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.hearticon:hover {
  cursor: pointer;
}

.work-display {
  margin: 20px 20px auto;
}

.work-display .work-display__card {
  margin: 10px auto;
  width: 335px;
}

.work-display .work-display__card__image {
  border-radius: 5px;
  width: 335px;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 10%;
     object-position: 50% 10%;
}

.work-display .work-display__card__image:hover {
  cursor: pointer;
}

.work-display .work-display__card__video {
  border-radius: 5px;
  width: 335px;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 10%;
     object-position: 50% 10%;
}

.work-display .infos-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-display .infos-card .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  color: #901c1c;
  font-size: 14px;
}

.work-display .infos-card .counter img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.work-display .infos-card h2 {
  margin: 0;
  font-size: 14px;
  color: #d3573c;
  font-weight: 400;
}

@media screen and (min-width: 1440px) {
  .photographer-infos {
    margin: 0 auto;
    padding: 50px 150px;
  }
  .photographer-infos .card {
    right: 50px;
  }
  .photographer-infos .button {
    position: absolute;
    left: 40%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    background-color: #901c1c;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    padding: 20px 10px;
    border: none;
    cursor: pointer;
  }
  .work-display {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "a b c" "d e f";
  }
  .work-display .work-display__card {
    margin-bottom: 30px;
    width: 350px;
    height: 300px;
  }
  .work-display .work-display__card .work-display__card__image {
    width: 350px;
    height: 300px;
  }
}
/*# sourceMappingURL=main.css.map */