@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

$main-font: "DM Sans", sans-serif;
$primary-color: #901c1c;
$secondary-color: #d3573c;
$grey: #525252;
$background: #fafafa;

* {
  box-sizing: border-box;
}
body {
  max-width: 2050px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: $main-font;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  &:visited {
    color: none;
  }
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 45px 40px;
  h2 {
    font-size: 30px;
    font-weight: 400;
    color: $primary-color;
    margin: 0;
  }
  &.photographer-page {
    justify-content: flex-start;
  }
  @media screen and (max-width: 1050px) {
    display: flex;
    flex-wrap: wrap;
    margin: 35px 20px;
    h2 {
      order: 1;
    }
    .nav {
      order: 2;
    }
    @media screen and (max-width: 550px) {
      h2 {
        font-size: 14px;
      }
      .logo {
        transform: scale(0.6);
      }
    }
  }
}

.logo {
  transform: scale(0.8);
}

.nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  li {
    &.active {
      background-color: #911c1c;
      color: white;
    }
    padding: 3px 6px;
    margin: 3px;
    font-size: 12px;
    line-height: 16px;
    border: 0.5px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 11px;
    text-align: center;
    color: #911c1c;
    cursor: pointer;
  }
}

main {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    margin: 15px 0px 0px 0px;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
  .card__image {
    // position: absolute;
    // // top: -20px;
    // // right: -20px;
    // width: 100%;
    // height: auto;
    // transform: scale(1.6);
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  // .card__image__2 {
  //   top: 34px;
  //   right: 0px;
  //   transform: scale(1.6);
  // }
  .card__infos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & h1 {
    padding: 0;
    margin: 0;
    font-size: 36px;
    color: $secondary-color;
  }
  & p {
    padding: 0;
    margin: 0;
  }
  & p:nth-child(2) {
    color: $primary-color;
    font-size: 13px;
  }
  & p:nth-child(3) {
    font-size: 10px;
  }
  & p:nth-child(4) {
    color: $grey;
    font-size: 9px;
  }

  .tag {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
      margin: 6px 0px;
    }
    li {
      padding: 3px 6px;
      margin: 3px;
      font-size: 12px;
      line-height: 16px;
      border: 0.5px solid #c4c4c4;
      box-sizing: border-box;
      border-radius: 11px;
      text-align: center;
      color: #911c1c;
    }
  }
  .tagProfil {
    text-align: start;
    ul {
      display: flex;
      text-align: left;
      flex-wrap: wrap;
      padding: 0;
      margin: 6px 0px;
    }
    li {
      padding: 3px 6px;
      margin: 3px;
      font-size: 12px;
      line-height: 16px;
      border: 0.5px solid #c4c4c4;
      box-sizing: border-box;
      border-radius: 11px;
      text-align: center;
      color: #911c1c;
    }
  }

  .artists {
    @media screen and (min-width: 1050px) {
      // min-height: 75vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 70px;
    }
  }
}

button {
  background-color: $primary-color;
}

.button {
  position: fixed;
  // bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $primary-color;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
}

.modal {
  position: absolute;
  width: 100%;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
  background-color: $secondary-color;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  text-align: left;
  & h1 {
    color: black;
    font-size: 30px;
    font-weight: 400;
  }
  & label {
    font-weight: 400;
    font-size: 20px;
  }
  & input {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 35px;
  }
  & .message-container input {
    height: 120px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 0.7rem;
  right: 1.3rem;
  font-size: 4rem;
  color: white;
  cursor: pointer;
  border: none;
  background: none;
}
.hidden {
  display: none;
}

// SCROLL
.scrollProfile {
  display: flex;
  color: black;
  z-index: 100;
  width: 20rem;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  position: fixed;
  justify-content: space-evenly;
  bottom: 0%;
  right: 3%;
  background-color: $secondary-color;
  border-radius: 5px;
}
#scrollPrice {
  margin-left: 2rem;
}
#scrollPrice:hover,
#scrollPrice:focus {
  transform: scale(1);
  box-shadow: 0 0 3px 2px #f2f2f2;
}
.scroll {
  position: fixed;
  display: none;
  background-color: #db8876;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  top: 2%;
  left: 45%;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
// .photographer-infos {
//   position: relative;
//   padding-top: 30px;
//   padding-left: 20px;
//   margin-bottom: 45px;
//   .tag {
//     & ul {
//       justify-content: flex-start;
//     }
//     & li:first-child {
//       margin-left: 0px;
//     }
//   }
//   & p:nth-child(1) {
//     font-size: 13px;
//     color: $grey;
//   }
//   .card {
//     float: right;
//     margin: 0px;
//     // width: 100px;
//     // height: 100px;
//     right: 20px;
//   }
//   .card__image {
//     right: -10px;
//     top: -10px;
//   }
// }

// test
#mainFiche {
  margin-bottom: 5rem;
}
.profil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 5rem 3rem 5rem;
  background-color: rgba(243, 244, 246, 0.5);
  padding: 2rem;
  border-radius: 5px;
}
.open-modal {
  height: 4rem;
  border: none;
  margin-top: 1.8rem;
  margin-right: 10rem;
  padding: 1.5rem 1rem;
  line-height: 0.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: #901c1c;
  border-radius: 5px;
}
.contactButton:hover,
.contactButton:focus {
  background-color: #db8876;
  color: black;
}
.textProfil {
  display: flex;
  flex-direction: column;
}

#photoProfil {
  margin: 1rem 0 0 -2.2rem;
}
#photoProfil img {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  border-radius: 14rem;
}

#nameProfil {
  font-size: 4rem;
  color: $secondary-color;
  margin: 1rem 0;
}
#locationProfil p {
  color: $primary-color;
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
#taglineProfil {
  font-size: 1rem;
}
#headerFiche {
  margin-left: 5rem;
}
// .tag-photographe {
//   margin: 0 0.2rem;
//   color: $primary-color;
//   font-size: 1rem;
//   border: 0.5px solid #c4c4c4;
//   border-radius: 11px;
// }
// .tag-photographe:hover,
// .tag-photographe:focus {
//   background-color: #db8876;
//   color: white;
// }

// test

// Lightbox

.lightbox {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
}

.lightbox__next,
.lightbox__prev {
  border: none;
  width: 20px;
  height: 28px;
  background-color: white;
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 11;
  opacity: 0.5;
  cursor: pointer;
  & :hover {
    opacity: 1;
  }
}
.lightbox__prev {
  right: auto;
  left: 0;
}
.lightbox__next img,
.lightbox__prev img {
  width: 20px;
  height: 20px;
  color: white;
}
.lightbox__close {
  background-color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 12;
}

.lightbox__close img {
  width: 20px;
  height: 20px;
}

.lightbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 100vh;
}

.lightbox__container img {
  max-width: 100%;
  height: 100%;
}
// DROPDOWN MENU

.select__menu {
  display: flex;
  margin-left: 5rem;
  & p {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 1rem;
  }
  & select {
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
    background-color: $primary-color;
    // margin: 5px;
    &:hover {
      background-color: $secondary-color;
    }
  }
}

/* Dropdown Button */
.dropbtn {
  height: 4rem;
  border: none;
  background-color: $primary-color;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 5rem;
}
#sort-text {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 5rem;
}
.popularity-order,
.date-order,
.name-order {
  // position: relative;
  // transform: scale(0.6);
  height: 4rem;
  margin-left: 5rem;
  background-color: $primary-color;
  color: white;
  font-weight: 600;
  padding: 16px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  &:focus {
    background-color: $secondary-color;
  }
  &:hover {
    background-color: $secondary-color;
  }
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: $secondary-color;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: flex;
  flex-direction: row;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  float: left;
  position: absolute;
  // background-color: #f1f1f1;
  align-items: right;
  width: 100%;
  // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hearticon:hover {
  cursor: pointer;
}

.work-display {
  margin: 20px 20px auto;
  .work-display__card {
    margin: 10px auto;
    width: 335px;
    // height: 190px;
    // overflow: hidden;
  }
  .work-display__card__image {
    border-radius: 5px;
    width: 335px;
    height: 190px;
    object-fit: cover;
    object-position: 50% 10%;
    // transform: scale(0.8);
    &:hover {
      cursor: pointer;
    }
  }
  .work-display__card__video {
    border-radius: 5px;
    width: 335px;
    height: 190px;
    object-fit: cover;
    object-position: 50% 10%;
    // transform: scale(0.8);
  }

  .infos-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & .counter {
      display: flex;
      align-content: flex-end;
      color: $primary-color;
      font-size: 14px;
      & img {
        transform: scale(0.7);
      }
    }
    & h2 {
      margin: 0;
      font-size: 14px;
      color: $secondary-color;
      font-weight: 400;
    }
  }
}

@media screen and (min-width: 1440px) {
  .photographer-infos {
    margin: 0 auto;
    padding: 50px 150px;
    & .card {
      right: 50px;
    }
    & .button {
      position: absolute;
      left: 40%;
      transform: translateY(-100%);
      background-color: $primary-color;
      color: white;
      font-weight: 700;
      font-size: 20px;
      border-radius: 5px;
      padding: 20px 10px;
      border: none;
      cursor: pointer;
    }
  }
  .work-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "a b c"
      "d e f";
    & .work-display__card {
      margin-bottom: 30px;
      width: 350px;
      height: 300px;
      & .work-display__card__image {
        width: 350px;
        height: 300px;
      }
    }
  }
}
